/* CSS Week 1 - Project */
/* Jeopardy! Project  */

/* TODO imported into index.css */

img {
  padding-top: 20px;
  max-width: 80%;
  height: auto;
}

/*! Classes in Alphabetical Order */
/* "answer" class is used for the Guess, Pass & Wager Buttons */
.answer {
  grid-area: button;
  display: inline-flex;
  margin: 15px 10px;
  background-color: var(--buttonBackground);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  color: var(--buttonColor);
  font-size: 2em;
  border: solid 5px;
  border-color: var(--borderColor);
  text-decoration: none;
  justify-content: center;
  text-align: center;
}
/* "answer:hover" provides a color change when an answer is selected */
.answer:hover {
  color: var(--primaryHover);
  background-color: var(--backgroundHover);
}

/* "answers" class is the container that holds the answers, so they stay organized on the webpage  */
.answers {
  grid-area: answers;
  display: inline-flex;
  margin: 15px 10px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

/* "bet" class for the Free Text area in Final Round */
.bet {
  grid-area: bet;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--textColor1);
  padding: 5px 10px;
  font-family: "Delicious Handrawn", cursive;
  font-size: 2em;
}

/* !"box" is used everywhere, almost everything has a box class */
.box {
  font-family: "Delicious Handrawn", cursive;
  background-color: var(--background);
  color: var(--primary);
  padding: 0px;
  font-size: 1em;
  border: 2px solid;
  border-color: var(--borderColor);
}

/* "button" class is used for page navigation, moving from 1 round to the next */
.button {
  grid-area: button;
  display: inline-flex;
  color: var(--buttonColor);
  background-color: var(--buttonBackground);
  border: solid 5px;
  border-color: var(--borderColor);
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  font-size: 2em;
  text-decoration: none;
  margin: 5px 20px;
}

/* "button:hover" shows when a button is selected */
.button:hover {
  color: var(--primaryHover);
  background-color: var(--backgroundHover);
}

/*! for "catergory" class see grid.css */
/*! for "container" class see grid.css */

/* "finalJeopardy" class is a container for the final Catergory & Question */
.finalJeopardy {
  grid-area: finalJeopardy;
  text-align: center;
}

/* "finalCatergory" class is for the Catergory in the Final Round */
.finalCatergory {
  grid-area: finalCatergory;
  height: fit-content;
  font-size: 6em;
  color: var(--buttonColor);
  background-color: var(--buttonBackground);
  border: solid 5px;
  border-color: var(--borderColor);
  border-radius: 30px 30px 0px 0px;
  text-decoration: none;
  margin: 0 10%;
  overflow: hidden;
}

/* "finalQuestion" class is for the Question in the Final Round */
.finalQuestion {
  grid-area: finalQuestion;
  min-height: 4em;
  font-size: 6em;
  padding: 5%;
  text-justify: center;
  color: var(--buttonColor);
  background-color: var(--buttonBackground);
  border: solid 5px;
  border-color: var(--borderColor);
  border-radius: 0 0 30px 30px;
  text-decoration: none;
  margin: 0 10%;
  overflow: hidden;
}

/*! for "flip" class see animation.css */

/* TODO I did not use this class*/
.flex-container > div {
  /*targets each div*/
  /* padding: 10px;
  text-align: center;
  font-size: 2em; */
}

/* "footer" class is used on the footer in each page */
.footer {
  grid-area: footer;
  display: flexbox;
  text-align: center;
  color: var(--textColor1);
  font-size: 1em;
  margin: 10%;
}

/* "header" class is used on the header in each page */
.header {
  grid-area: header;
  text-align: center;
  color: var(--textColor1);
  font-size: 5em;
  font-weight: bold;
  text-decoration: underline;
  margin: 0 10%;
}

/* "jeopardyBoard" class is a container for the "catergory" & "question" classes */
/* TODO currently not used, but useful to have in reserve*/
.jeopardyBoard {
}

/* "links" class is a container for the button class that moves the navigation */
.links {
  grid-area: links;
  justify-content: center;
  text-align: center;
  margin: 0 10%;
}

/* "logo" class is for the image on the Landing Page */
.logo {
  grid-area: logo;
  height: 100%;
  align-content: center;
  text-align: center;
  font-size: 3em;
  color: var(--textColor1);
  font-family: "Delicious Handrawn", cursive;
  font-weight: bolder;
  margin: 0 10%;
}
/* "logo:hover" shows when the logo is selected */
.logo:hover {
  color: var(--questionColor);
  background-color: var(--background);
  border: solid 1px;
  border-color: var(--borderColor);
  border-radius: 25px;
}

/* "nextRound" class is a container for the "links" class */
/* TODO currently not used, but useful to have in reserve */
.nextRound {
  grid-area: nextRound;
}

/* "player" class to keep track of the active players turn on each page */
/* TODO no functionality at the moment */
.player {
  grid-area: player;
  text-align: center;
  color: vars(--textColor1);
  font-size: 3em;
  margin: 0 20%;
}

/* "points" class to color the question boxes */
.points {
  color: var(--questionColor);
  background-color: var(--questionBackground);
}
/* "points:hover" class to color the question boxes when selected */
.points:hover {
  color: var(--primaryHover);
  background-color: var(--backgroundHover);
}

/*! for "question" class see grid.css */
/*! for "score" class see grid.css */

/*! for "spin" class see animation.css */

/* "userInput" class for the Free Text area in each Round */
.userInput {
  grid-area: userInput;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--textColor1);
  padding: 5px 10px;
  font-family: "Delicious Handrawn", cursive;
  font-size: 2em;
}
